{% if id %}
    <section>
        <div>
            <h2>{{ content }}</h2>
        </div>

        <div>
            <h3>Options</h3>
            <ul>
                {% for choice in choices %}
                    <li>
                        {{ choice.content }}
                    </li>
                {% endfor %}
            </ul>

            <a href="results">
                See Results
            </a>
        </div>
    </section>
{% else %}
    <span>{{ paramId }} ID not valid</span>
{% endif %}