<head>
    <title>
        {% if error_message %}
            Error!
        {% else %}
            {{ content }}
        {% endif %}
    </title>
</head>

{% if error_message %}
    <span>{{ error_message }}</span>
{% else %}
    <form action="{% url 'polls:vote' id %}" method="POST">
    {% csrf_token %}
        <fieldset>
            <legend>
                <h2>{{ content }}</h2>
            </legend>

            {% for choice in choices %}
                <div>
                    <input value="{{ choice.id }}" type="radio" name="choice" id="{{ choice.id }}">
                    <label for="{{ choice.id }}">
                        {{ choice.content }}
                    </label>
                </div>
            {% endfor %}
        </fieldset>

        <button>
            Submit
        </button>
    </form>

    <a href="{% url 'polls:results' id %}">
        See Results
    </a>
{% endif %}